<HTML>
    <font face = "sans-serif">

    <head>
        <title>Gene Abstract Match</title>
    </head>
    <h1>{{ surveyor.name }} - {{ surveyor.query }}</h1>
    <body>
        <p><b>Instructions:</b> Below is a list of genes sorted in alphabetical order by gene symbol. Each gene is followed by links to a set of articles that mention the gene and a check box. Your task is to check the boxes to indicate which genes are relevant for the query <i>{{ surveyor.query }}</i>. Note that not all of the genes in the list are relevant. Once you hit submit you should be taken to a confirmation page. </p>
        <form action = '' method ="post">
            {{ formset.management_form }} 
            {% for form in formset.forms %}
            <div>
                <h2>{{ form.instance.getGene.symbol}}</h2>
                <h3>{{ form.instance.getGene.name }}</h3>
                {% for abstract in form.instance.getGene.abstracts.all %}
                <li> {{abstract.author}}; <i>{{abstract.title}} </i> <a href="{{abstract.link}}" target = "_blank">PMID:{{abstract.pmid}} </a></li>
                {% endfor %}
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            {% endfor %}
            <input type="submit" value="OK"/>
        </form>
    </body>     
    </font>
</HTML>
